{% extends 'base.html.twig' %}

{% block title %}   Modification du mot de passe {% endblock %}
{% block body %}
{% block description %}Cette pages permet de modifier le mot de passe {% endblock %}
<div class="manga">
    <h2>Modifier votre mot de passe</h2>

        {{ form_start(form) }}

        <div class="divError">
            {{ form_row(form.plainPassword) }}
        </div>
        <div class="divError">
            {{ form_row(form.newPassword.first) }}
            {{ form_row(form.newPassword.second) }}
        </div>

        {{ form_end(form) }}

</div>
{% endblock %}