{% extends 'base.html.twig' %}
{% block stylesheets %}
<link rel="stylesheet" href="{{asset('assets/css/register.css')}}">
{% endblock %}
{% block title %}Inscription{% endblock %}

{% block body %}
<div class="manga">
    <h1>Inscrivez-vous</h1>

    {{ form_start(registrationForm) }}
    {{ form_row(registrationForm.email) }}
    {{ form_row(registrationForm.pseudo) }}
    {{ form_row(registrationForm.plainPassword.first, {
    'label': "Mot de passe"
    }) }}
    <div>
        {{ form_row(registrationForm.plainPassword.second, {
        'label': "Répétition"
        }) }}
    </div>
    <div class="terme">
        {{ form_widget(registrationForm.agreeTerms)}}
        <a href="{{path('app_cgu')}}">
           <p>cochez pour accepter les CGU.</p>
        </a>
    </div>

    <button type="submit" class="aButton">Inscrivez-vous</button>
    {{ form_end(registrationForm) }}
</div>
{% endblock %}