{% extends 'base.html.twig' %}
{% block stylesheets %}
<link rel="stylesheet" href="{{asset('assets/css/register.css')}}">
{% endblock %}
{% block title %}Inscription{% endblock %}

{% block body %}
<div class="manga">
    <h1>Inscrivez-vous</h1>

    {{ form_start(registrationForm) }}
    {{ form_row(registrationForm.email) }}
    {{ form_row(registrationForm.pseudo) }}
    {{ form_row(registrationForm.plainPassword.first, {
            'label': "Mot de passe"
            }) }}
            <div class="form-label mt-4">
                {{ form_row(registrationForm.plainPassword.second, {
                    'label': "Répétition"
                    }) }}
            </div>
    
   <a href="">{{ form_row(registrationForm.agreeTerms) }}</a> 

    <button type="submit" class="aButton">Inscrivez-vous</button>
    {{ form_end(registrationForm) }}
</div>
{% endblock %}