{% extends 'base.html.twig' %}
{% block stylesheets %}
<link rel="stylesheet" href="{{asset('assets/css/cate.css')}}">
{% endblock %}
{% block description %}Page qui répertorie toute les categories des mangas, permettant de faire un affinages des mangas via les catégories associées{% endblock %}
{% block title %}Categorie{% endblock %}
{% block body %}

<div class="manga">

    <div class="first">
        {% for categorie in listCategorie %}
        <a href="{{path('app_tri', {'id': categorie.id}) }}">
            {{categorie.title}}
        </a>
        {% endfor %}
    </div>

</div>



{% for manga in mangaTri %}

<div class="manga">

    <a class="img" href="{{path('app_manga', {'id': manga.id}) }}">

        <img src="{{ asset('uploads/imageManga/' ~ manga.photoManga) }}" alt="Images de couverture des manga">

    </a>

    <div class="second">

        <a href="{{path('app_manga', {'id': manga.id}) }}">
            <h3>{{ manga.title }}</h3>
        </a>

        <div class="description">
            {{ manga.description|raw }}
        </div>

    </div>
    <div class="chapterList">

        {# Boucle for avec des a pour chaque chapitre #}

        {% for chapter in manga.chapters|reverse %}
        {% if loop.index <= 4 %} <a href="{{ path('app_Chap', {'id': chapter.id}) }}">{{chapter.title}}</a>

            {% endif %}

            {% endfor %}

    </div>


</div>

{% else %}
<div class="manga">

    <div>

        <p>Sélectionnez une catégorie</p>

    </div>

</div>


{% endfor %}





{% endblock %}