{% extends 'base.html.twig' %}
{% block stylesheets %}
<link rel="stylesheet" href="{{asset('assets/css/manga.css')}}">
{% endblock %}
{% block title %}{{ manga.title }}{% endblock %}

{% block body %}

<div class="manga">

    <a href="" class="img">
        <img src="{{ asset('uploads/imageManga/' ~ manga.photoManga) }}" alt="">
    </a>

    <div class="second">

        <a href="{{path('app_tri', {'id': manga.id}) }}">
            <h3>{{ manga.title }}</h3>
        </a>

        <div class="description">
            {{ manga.description|raw }}
        </div>

    </div>
    <div class="chapterList">

        {# Boucle for avec des a pour chaque chapitre #}

        {% for chapter in manga.chapters|reverse %}

        {% if loop.index %} <a href="{{ path('app_Chap', {'id': chapter.id}) }}">{{ chapter.title}} </a>

        {% endif %}

        {% endfor %}

    </div>


</div>
<div class="manga">

    <div class="commentForm ">

        {{ form_start(commentForm) }}

        <div class="champ">
            {{ form_label(commentForm.subject) }}
            {{ form_widget(commentForm.subject) }}
            <div class="form-error">
                {{ form_errors(commentForm.subject) }}
            </div>
        </div>

        <div class="champ">
            {{ form_label(commentForm.content) }}
            {{ form_widget(commentForm.content) }}
            <div class="form-error">
                {{ form_errors(commentForm.content) }}
            </div>
        </div>

        <div class="champBtn">

            <button class="aButton" type="submit">Valider </button>
        </div>

        {{ form_end(commentForm) }}
    </div>

</div>

{% for comment in manga.comments|reverse %}
<div class="comments" id="comments">

    <div class="commentTop">


        <p> {{comment.subject}}</p>

        <div class="commentMid">
            <p>{{comment.dateCreation.format('j/M/Y ')}}</p>
            <p>{{ comment.user.pseudo }}</p>
            
        </div>

        
    </div>
    <p>{{comment.content}}</p>

</div>
{% endfor %}

{% endblock %}