{% extends 'base.html.twig' %}

{% block title %}Hello ContactController!{% endblock %}

{% block body %}

{{form_start(contactForm)}}
<div class="manga">

    <div class="row">

        <div class="demi">
            {{form_row(contactForm.email, {
                'label':'email',
            })}}
        </div>

        <div class="demi">
            {{form_row(contactForm.sujet, {
                'label':'sujet'
            })}}
        </div>

    </div>
   
    <div class="row">

        <div class="plein">
            {{form_row(contactForm.message, {
                'label':'message'
            })}}
        </div>

    </div>
    <div class="row">

        <div class="plein">
            {{form_row(contactForm.fichier, {
                'label':'objet'
            })}}
        </div>

    </div>


    <div class="row">
        <button type="submit" class="aButton"> Envoyer</button>
    </div>
    {# Vidéo Zoom numéro 1    25:39 #}
</div>

{{form_end(contactForm)}}




{% endblock %}