{% extends 'base.html.twig' %}

{% block title %}Page Contact{% endblock %}
{% block description %}Cette page permet d'envoyer un contact aux administrasteurs du site{% endblock %}
{% block stylesheets %}
<link rel="stylesheet" href="{{asset('assets/css/contact.css')}}">
{% endblock %}

{% block body %}
{{form_start(contactForm)}}
<div class="manga">

    <div class="row">

        <div>
            {{form_row(contactForm.email, {
            'label':'email',
            })}}
        </div>

        <div>
            {{form_row(contactForm.sujet, {
            'label':'sujet'
            })}}
        </div>

    </div>

    <div class="row">

        <div>
            {{form_row(contactForm.message, {
            'label':'message'
            })}}
        </div>

    </div>
    <div class="row">

        <div>
            {{form_row(contactForm.fichier, {
            'label':'objet'
            })}}
        </div>

    </div>


    <div class="cadre">
        <button type="submit" class="aButton"> Envoyer</button>
    </div>

</div>

{{form_end(contactForm)}}


{% endblock %}