<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Onlyscan{% endblock %}</title>
    <link rel="icon"
        href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">

    <link rel="stylesheet" href="{{asset('assets/css/style.css')}}">

    {# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
    {% block stylesheets %}
    {{ encore_entry_link_tags('app') }}
    {% endblock %}

    {% block javascripts %}
    {{ encore_entry_script_tags('app') }}
    {% endblock %}
</head>

<body>
    <header>

        <div class="container">
            <nav class="navbar dark-mode" role="navigation">
                <a class="logo" href="/">
                    <img src="{{asset('assets/img/logo.png')}}" alt="Logo du site">
                </a>
                <ul class="navbar__links">
                    <li class="navbar__link first"><a href="{{path('app_categorie')}}">Categorie</a></li>
                    <li class="navbar__link second"><a href="{{path('app_contact')}}">Contact</a></li>
                    {% if app.user %}
                    <li class=" navbar__link third"> <a href="{{path('app_profil')}}"> Bonjour : {{app.user.pseudo}}</a>
                    </li>
                    <li class=" navbar__link third"> <a href="{{path('app_logout')}}">Déconnexion</a></li>
                    {% else %}
                    <li class="navbar__link third"><a href="{{path('app_register')}}">Incription</a></li>
                    <li class="navbar__link four"><a href="{{path('app_login')}} ">Connexion</a></li>
                    {% endif %}
                </ul>
                <button class="burger">
                    <span class="bar"></span>
                </button>
                
            </nav>
            {{ render(controller(
                'App\\Controller\\UserController::searchBar'
                )) }}
        </div>


    </header>
    <main class="{{ app.request.attributes.get('_route') != 'app_home' ? 'main-top' }} container main">
        {# read and display all flash messages #}
        {% for label, messages in app.flashes %}
        {% for message in messages %}
        <div class="container">
            <div class="alert alert-{{ label }}">
                {{ message }}
            </div>
        </div>
        {% endfor %}
        {% endfor %}
        {% block body %}{% endblock %}
    </main>
    <footer>
        <div class="footer container">

            <div class="cgu">
                <ul>
                    <h2>A propos</h2>
                    <li><a href="{{path('app_cgu')}}">CGU</a></li>

                </ul>

                <ul>
                    <h2>Navigation</h2>
                    <li><a href="/">Home</a> </li>
                    <li><a href="{{path('app_categorie')}}">Categorie</a> </li>

                </ul>

                <ul>
                    <h2>Fomulaire</h2>
                    <li> <a href="{{path('app_contact')}}">Contact</a> </li>

                </ul>
            </div>
            <div class="resaux">
                <a class="img" href="#">
                    <img src="{{asset('assets/img/instagram.png')}}" alt="lien instagram">
                </a>
                <a class="img" href="#">
                    <img src="{{asset('assets/img/pinterest.png')}}" alt="lien pinterest">
                </a>
                <a class="img" href="#">
                    <img src="{{asset('assets/img/twitter.png')}}" alt="lien twitter">
                </a>
                <a class="img" href="#">
                    <img src="{{asset('assets/img/youtube.png')}}" alt="lien youtube">
                </a>
            </div>
            <div>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vel nam, optio tenetur eius reprehenderit
                    architecto aliquid nemo aliquam doloribus fuga reiciendis dolorem laboriosam nisi, porro sunt
                    corrupti eveniet.</p>
            </div>
            <div class="copyright">Copyright © 2022 OnlyScan <a class="mention" href="{{path('app_mL')}}">Mentions légales</a></div>
        </div>
    </footer>
    <script src="{{asset('assets/js/script.js')}}"></script>
</body>

</html>