{% extends 'base.html.twig' %}
{% block stylesheets %}
<link rel="stylesheet" href="{{asset('assets/css/cate.css')}}">
{% endblock %}
{% block body %}

<div class="manga">
    
    <div class="first">
        {% for categorie in listCategorie %}
        <a href="{{path('app_tri', {'id': categorie.id}) }}">
            {{categorie.title}}
        </a>
        {% endfor %}
    </div>
    
   
</div>

<div class="manga">
    {% if mangaTri is defined %}
    {% for manga in mangaTri %}

    <a href="{{path('app_tri', {'id': manga.id}) }}">
        <img src="{{ asset('uploads/imageManga/' ~ manga.photoManga) }}" alt=""> 
    </a>
    <div class="second">

        <a href="{{path('app_tri', {'id': manga.id}) }}">
            <h3>{{ manga.title }}</h3>
        </a>

        <div class="chapterList">

            {# Boucle for avec des a pour chaque chapitre #}

            {% for chapter in manga.chapters|reverse %}

            {% if loop.index <= 4 %} <a href="#">{{ chapter.title}} </a>

                {% endif %}

                {% endfor %}

        </div>

    </div>
    {% else %}
    <p>Sélectionnez une catégorie</p>
    {% endfor %}

    {% endif %}


</div>
{% endblock %}