{% extends 'base.html.twig' %}
{% block stylesheets %}
<link rel="stylesheet" href="{{asset('assets/css/crud.css')}}">
{% endblock %}
{% block body %}

<div class="manga">
    <h2>Modifier votre profile</h2>
    
        
        
        {{ form_start(form) }}

        <div>
            {{ form_label(form.pseudo) }}
            {{ form_widget(form.pseudo) }}
            
        </div>
        <div>
            {{ form_label(form.email) }}
            {{ form_widget(form.email) }}
            
        </div>

        <div>
            {{ form_row(form.plainPassword.first, {
            'label': "Mot de passe"
            }) }}
        </div>
        <div>
            {{ form_row(form.plainPassword.second, {
            'label': "Répétition"
            }) }}
            
        </div>
        <div class="buttonForm">
            <button class="aButton" type="submit">Valider</button>
        </div>
        

        {{ form_end(form) }}
    
</div>
{% endblock %}