{% extends 'base.html.twig' %}

    {% block stylesheets %}
    <link rel="stylesheet" href="{{asset('assets/css/homepage.css')}}">
    {% endblock %}
    


{% block title %}Hello UserController!{% endblock %}

{% block body %}

{# 
Classer les manga sur la page principale via les derniers chapitres

Faire un CRUD dans l'espace gestion de compte #}




<table class="table">
    {# <tbody>

        Affichez les Categorie existante losque l'on clique sur toutes les catégories

        {% for categorie in listCategorie %}
        <tr>
            <td class="d-flex justify-content-between"> <strong>{{ categorie.title }}</strong> </a></td>
        </tr>
        {% endfor %}
    </tbody> #}
</table>


{{ dump(lastManga) }}


<div class="parent">
    {% for manga in lastManga %}


    <div class="manga">
        <a class="img" href="#"><img src="{{ asset('uploads/imageManga/' ~ manga.photoManga) }}" alt=""></a>
        <div class="second">
            <a href="#"><h3>{{ manga.title }}</h3></a> 
            <div class="chapterList">
                {# Boucle for avec des a pour chaque chapitre #}
            </div>
        </div>
      


        {# <p> {{manga.description|raw }} </p> #}

    </div>

    {% endfor %}

</div>
{# Faire la Pagination #}
<a href="">Pagination</a>


{% endblock %}