{% extends 'base.html.twig' %}
{% block stylesheets %}
<link rel="stylesheet" href="{{asset('assets/css/profil.css')}}">
{% endblock %}
{% block body %}
<div class="manga">
    <div> {{ app.user.pseudo }} </div>
    <div> {{app.user.email}} </div>
    <div class="divButt">
        <div>
            <a class="aButton" href="{{path('app_crud')}}">Modifier le profil</a>
        </div>
        <div>
            <a class="aButton" href="{{path('editPassword', {id: app.user.id})}}">Modifier le mot de passe</a>
        </div>
    </div>
</div>
{% endblock body %}